@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');


@media  screen and  ( min-width : 750px ) {
    .order-wrapper{
        background: url('attach.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
    .order-1{
        background: rgba(0, 0, 0,0.5);
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .cap{
        padding: 20px;
    }
    .order-text{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        padding: 40px;
        font-size: larger;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(134, 131, 131);
    }
    .order-2{
        background: rgba(0, 0, 0,0.7);
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}
    
