/* @media  screen and  (min-width:750px){
    .contain{
        background: url('section1.jpg') ;
        background-size: cover;
        height: 80vh;
        display: flex;
        margin-top: 3em;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        
    }
    .catering-header{
        width: 30%;
        
        color: whitesmoke;

    }
    .bg{
        border: 2px solid transparent;
        width: 80%;
        height: a;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        
    }

}

.contain{
    
    background-image: url('photo1.jpeg');
    background-size: cover;
    
}
/* 070034335489 
.contain-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 100%;
    height: 100%;
}
.catering-header{
    background-color: black;
    text-align: center;
    padding: 10px;
    color: whitesmoke;
}
.bg{
    border: 2px solid transparent;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.7); 
    
    overflow: hidden;
    
}7black adam
.order{
    padding: 15px;
    color: grey;
    border: 1px solid grey;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    width: 20%;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    background-color: white;
}
.order:hover{
    transform: scale(1.05);
}

.order-text:hover{
    visibility: visible;
}
.img-response{
    height:200px;
    width:200px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.heigth{
    height: 10em;
} */

.contain-wrap{
    width: 100%;
    margin-top: 1em;
    padding: 5px;
    
}
@media screen and (min-width:760px){
    .contain-wrap{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        column-gap: 10px;

    }
}