index.html
Who has access

System properties
Type
HTML
Size
349 bytes
Storage used
349 bytesOwned by TalentQL Inc.
Location
promises
Owner
Jerry Uke
Modified
Apr 15, 2022 by Jerry Uke
Opened
11:11 PM by me
Created
Jun 6, 2022
No description
Viewers can download
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promise</title>
    <script src="index.js" defer></script>
    <!-- <script src="fixed_callback.js" defer></script> -->
    <!-- <script src="use_fetch.js" defer></script> -->
    <!-- <script src="promise_api.js" defer></script> -->


</head>
<body>
    
</body>
</html>