.header-bg{
    background-image: url('mobile-bg.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.header-bg-2{
    background-image: url('hamburger.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:750px){
    header{
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 2fr;
        
    }
    .header-bg{
        background-image: url('chef-bg.png');
        background-size: 100% 100%;
        height: 100vh;
    }
    .header-text{
        padding: 20px;
        text-align: center;
    }
    @keyframes header {
        from{
            opacity: 0;
        }
        
        to{
            opacity: 1px
        }
    }
    
    .slogan{
        font-size: 100px;
        font-weight: 700;
        max-height: 100%;
        padding: 50px;
    }
    .slogan-text{
        margin-top: -3em;
        
        animation-name: header;
    }
}
.slogan-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    height: 100vh;
    width: 100vh;
    border: 1px solid white;
    background-color: rgba(0,0,0,0.6);
}
.slogan{
    color: whitesmoke;
    font-size: 100px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
   
}
.slogan-text{
    padding: 20px;
}